<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog__Chronicles | Home</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles_home.css">
</head>
<body>
    <div id="wrapper">

        <div class="container">
            <img src="back18.jpg" class="background">
            <img src="foreground.png" class="foreground">
            <h1>Blog Chronicles</h1>
        </div>

        <section>
            <h2 class="secHeading"> Blogging Time</h2>
            <p class="text">
                In today’s digital age, blogging has become more than just a hobby—it’s a powerful tool for expression, personal growth, and even a way to generate income. Whether you’re passionate about sharing your expertise, documenting life experiences, or discussing trending topics, there’s never been a better time to start your own blog.
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>


            <div class="bg bg1">
                <h2 class="desc"><a href="/blog/create" >New Blog</a></h2>
            </div>
            <p class="text">
                Starting a new blog is an exciting journey. Whether you’ve been thinking about it for a while or just decided to jump in, launching your first blog post is a bold step into a world of creativity, sharing, and discovery. But where do you begin? Here’s a guide to help you kick off your blogging journey and make your first post memorable!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>

            <div class="bg bg2">
                <h2 class="desc"><a href="/blogs" >View Blog</a></h2>
            </div>
            <p class="text">
                Let's see what you have wondered so far in this journey!
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>

            <div class="bg bg3">
                <h2 class="desc"><a href="/about" >About Us</a></h2>
            </div>
            <p class="text">
                Blog__Chronicles was born out of a desire to give people a voice. We believe that everyone has a story to tell, a lesson to share, or an idea that can spark a meaningful conversation. Whether you are a seasoned writer or just getting started, our platform provides you with the tools to create, publish, and grow as a blogger.
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil veritatis illum a similique velit atque quos maxime? Deleniti dicta nostrum illo excepturi cumque delectus omnis iste doloremque nesciunt! Optio, ducimus.
            </p>

        </section>

    </div>
</body>
</html> 